* {box-sizing: border-box}

/* Add padding to containers */
.container {
  padding: 16px;
}

/* Full-width input fields */
input[type=text], input[type=password] {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  display: inline-block;
  border: none;
  background: #f1f1f1;
}

input[type=text]:focus, input[type=password]:focus {
  background-color: #ddd;
  outline: none;
}

/* Overwrite default styles of hr */
hr {
  border: 1px solid #f1f1f1;
  margin-bottom: 25px;
}

/* Set a style for the submit/register button */
.registerbtn {
  background-color: #04AA6D;
  color: white;
  padding: 16px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  opacity: 0.9;
}

.registerbtn:hover {
  opacity:1;
}

/* Add a blue text color to links */
a {
  color: dodgerblue; 
}

/* Set a grey background color and center the text of the "sign in" section */
.signin {
  background-color: #f1f1f1;
  text-align: center;
} 

body {
    margin: 0;
    background-color: #121212;
    color: white;
    font-family: Arial, sans-serif;
}

/* NAVBAR */
.navbar {
    background-color: #181818;
    display: flex;
    align-items: center;
    padding: 12px 20px;
    justify-content: space-between;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 10;
}

.logo {
    font-size: 22px;
    font-weight: 900;
}
.logo-stream {
    color: white;
}
.logo-hive {
    color: #e53935;
}

.search-bar input {
    width: 400px;
    padding: 8px;
    border-radius: 4px;
    border: none;
    background-color: #333;
    color: white;
}

.right-icons .icon {
    width: 24px;
    margin-left: 18px;
}

/* SIDEBAR */
.sidebar {
    position: fixed;
    top: 70px;
    left: 0;
    width: 200px;
    height: 100%;
    background-color: #1b1b1b;
    padding-top: 20px;
}
.side-item {
    display: block;
    padding: 12px 20px;
    color: #ccc;
    text-decoration: none;
    font-size: 16px;
}
.side-item:hover,
.side-item.active {
    background-color: #333;
    color: white;
}

/* MAIN CONTENT */
.content {
    margin-left: 220px;
    margin-top: 90px;
    padding: 20px;
}

.video-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 18px;
}

.video-card {
    background-color: #222;
    padding: 10px;
    border-radius: 6px;
}

.thumb {
    width: 100%;
    border-radius: 6px;
}